@font-face {
    font-family:"Inter" ;
    src: url(Fonts/Inter-Regular.ttf);
}

body{
    color: white;
    font-family: "Inter";
    text-align:  center;
    padding: 10px;
    background-color: #212024;
    display: flex;
    width: 550px;
    margin: auto;
}

/* Add some styling to the content */
h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

button {
    border-radius: 10px;
    padding: 10px ;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;   
}

.bodyClass {
    font-family: "Inter", 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    margin: auto;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.imgClass {
    padding: 15px;
}

.randomClass {
    border: 1px;
    border-color: green;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

.divClass{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    justify-content: center; /* Vertically centers the child elements */
    align-items: center; 
}
.generate-button {
    cursor: pointer; /* Change cursor to a pointer on hover */
}

.generate-button:hover{
background-color: #bfbfbf;
}

/* Truncate long URLs with ellipsis */
#currentUrl {
    max-width: 90%; /* Adjust the max width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




